@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(../fonts/dtvkjxarwl0t2kdzk3oi_jkc6sjw.ttf) format('truetype');
}
