@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../fonts/w8gdh283tvk__lua32tysjifp8uk.ttf) format('truetype');
}
